*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: url(ownimg/img.png)no-repeat;
    background-size: cover;
}
.box{
    height: 12vh;
    background-color: rgba(0, 0, 0, 0.665);
    color: white;
    text-align: center;
    line-height: 12vh;
    font-size: 2vw;
    border-radius: 15vh;
    transition-duration: 1s;
}
span{
    text-decoration: underline;
}
.box:hover{
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.493);
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: 3px 3px 10px 3px rgb(0, 0, 0);
}
.box1{
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 18px;
    font-size: x-large;
    padding-bottom: 19px;
}
.box1 a{
    background-color: black;
    color: white;
    border-radius: 15px;
    width: max-content;
    text-decoration: none;
    transition-duration: 1s;
}
.box1 :hover{
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.799);
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.771);
    text-align: left;
}
.text{
    margin-top: 25px;
}
h2{
    margin-top: 20px;
    margin-bottom: 10px;
}
.end{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5vw;
}
